<!--
    <mat-slider min="1" max="100" step="1" value="50">
        <input matSliderThumb>
    </mat-slider>
-->

<!--

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ cats[1].name.toUpperCase() }}</mat-card-title>
      <mat-card-subtitle>{{ cats[1].breed }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ cats[1].desc }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
-->
  
<!--
    <div class="demo-section">
        <button mat-raised-button color="primary"
            matBadge="7" matBadgePosition="after" matBadgeColor="accent">
            Action
        </button>
    </div>
-->

<div *ngFor="let player of data">
  <p [ngStyle]="{ color: player.color }">{{ player.name }} {{ player.surname }}</p>
</div>
<button (click)="sendData()">Send data</button>