<h2>Angular notes</h2>
<p>I can include the component as many times as I want</p>
<br>
<h2>Property binding</h2>
<button mat-raised-button color="primary" [disabled]="isDisabled">Primary</button>
<br><br>
<img [src]="isDisabled ? url1 : url2" style="width: 150px; height: 250px;"/>
<br><br><br>
<button mat-raised-button color="primary" (click)="onClick(this)">Primary</button>
<br><br>

<h2>Event binding</h2>
<mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" [(ngModel)]="title">
</mat-form-field>
<p>{{ title }}</p>
<br>
<h2>Two way binding</h2>
<button mat-raised-button color="primary" (click)="onClickBinding($event)">Primary</button>
<p>With ngModel we're making both property and event binding: this way, we can cover any change</p>
<br><br>
<h2>Directives</h2>
<p>They're classes that change the behavior of our HTML elements, whether by attributes or structurarly</p>
<br>
<h3>ngIf</h3>
<p>*ngIf allows us to handle conditional rendering, thanks to the conditions we can specify</p>
<p *ngIf="isVisible; then ifBlock else elseBlock"></p>
<ng-template #ifBlock>
    <p>ifBlock visible</p>
</ng-template>
<ng-template #elseBlock>
    <p>with the template reference, we can set an 'else' block that'll be rendered if the condition isn't true</p>
    <p>also, the template reference can be used only on an ng-template element</p>
</ng-template>
<br><br>
<h3>ngFor</h3>
<p>With this we can render multiple elements</p>

<p *ngFor="let player of players, index as i, first as isFirst">
    {{ i }} - {{ isFirst }} <strong>{{ player.surname }}</strong> {{ player.name }}
    <span *ngIf="player.isPlaying">Currently playing</span>
    <span *ngIf="!player.isPlaying">Currently not playing</span>
</p>
<br><br>
<h3>ngSwitch</h3>
<div [ngSwitch]="songTitle"><!--* it's not ngSwitch that modifies the element, but each ngSwitchCase -->
    <p *ngSwitchCase="'Sukuna'">Gambare gambare</p>
    <p *ngSwitchCase="'Gear 5'">My heartbeat</p>
    <p *ngSwitchCase="'JJK'">I feel invincible</p>
    <p *ngSwitchDefault>Plot armor</p>
</div>
<!--? for string values, we need both double and single quotes -->
<br><br>
<h3>ngStyle</h3>
<ul>
    <li class="ng-style" *ngFor="let player of players">
        <div class="circle" [ngStyle]="{backgroundColor: player.isPlaying ? 'green' : 'red'}"></div>
        <p>{{ player.name }} {{ player.surname }}</p>
    </li>
</ul>
<br><br>
<h3>ngClass</h3>
<ul>
    <li class="ng-style" *ngFor="let player of players; index as i">
        <div class="circle" [ngClass]="player.isPlaying ? 'isPlaying prova' : 'isNotPlaying'">{{ i }}</div><!-- with this I can add multiple classes-->
        <p>{{ player.name }} {{ player.surname }}</p>
    </li>
</ul>
<br><br>
<h2>Parent to child & child to parent</h2>
<app-prova [data]="players" (sendDataEvent)="receiveData($event)"></app-prova>
<button (click)="changePlayers()">Change players</button>
<p [ngStyle]="{fontStyle: 'italic', fontWeight: '600'}" *ngIf="receivedName">{{ receivedName }}</p>
<br><br>
<router-outlet />
