.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 10px;
    text-align: center;
}

.ng-style{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.ng-style p{
    margin-bottom: 0;
}

.isPlaying{
    background-color: green;
    color: white;
}

.isNotPlaying{
    background-color: red;
    color: black;
}

.cube{
    border-radius: 0;
}