<h2>Angular notes</h2>
<p>I can include the component as many times as I want</p>
<app-prova></app-prova>
<br>
<h2>Property binding</h2>
<button mat-raised-button color="primary" [disabled]="isDisabled">Primary</button>
<br><br>
<img [src]="isDisabled ? url1 : url2" style="width: 150px; height: 250px;"/>
<br><br><br>
<button mat-raised-button color="primary" (click)="onClick(this)">Primary</button>
<br><br>

<h2>Event binding</h2>
<mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" [(ngModel)]="title">
</mat-form-field>
<p>{{ title }}</p>
<br>
<h2>Two way binding</h2>
<button mat-raised-button color="primary" (click)="onClickBinding($event)">Primary</button>
<p>With ngModel we're making both property and event binding: this way, we can cover any change</p>
<br><br>
<h2>Directives</h2>
<p>They're classes that change the behavior of our HTML elements, whether by attributes or structurarly</p>
<br>
<h3>ngIf</h3>
<p>*ngIf allows us to handle conditional rendering, thanks to the conditions we can specify</p>
<p *ngIf="isVisible; then ifBlock else elseBlock"></p>
<ng-template #ifBlock>
    <p>ifBlock visible</p>
</ng-template>
<ng-template #elseBlock>
    <p>with the template reference, we can set an 'else' block that'll be rendered if the condition isn't true</p>
    <p>also, the template reference can be used only on an ng-template element</p>
</ng-template>

<router-outlet />
